doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js')
    script(src='/js/app.js', type='module')
  body
    block content
